.*.swp
.git/
src/php/
src/python/*.pyc
.DS_Store

ipython/config.ini
ipython/study_pixnet/config.ini

ipython/.ipynb_checkpoints/
ipython/study_pixnet/.ipynb_checkpoints/
ipython/study_sinica/.ipynb_checkpoints/


