<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://www.w3schools.com/lib/w3.js"></script>
		<style>
			img {
				max-width: 100%;
			}

			nav {
				font-size: 24px;
				position: fixed;
				width: 100%;
				top: 0%;
				left: 0%;
				background: #FFFFFF;
			}

			body > article {
				margin: 5%;
			}

			body > article > .article {
				margin: 5%;
				border: 4px solid black;
			}

			body > article > .counter {
				font-size: 100px;
				position: fixed;
				top: 0%;
				right: 0%;
				cursor: pointer;
			}

			product {
				background-color: #ffdddd;
				border-left: 6px solid #f44336;
				cursor: pointer;
			}

			product::before {
				content: "Product!";
				font-size: 32px;
				display: block;
				float: right;
				width: 0px;
				margin: -10px;
			}

			product.done::before {
				content: "Done!";
			}
		</style>
	</head>

	<body>
		<nav id="top">
			<center>
				<form class="form-inline" method="GET">
					<a href="?part={{ part }}&aid={{ aid }}&act=prev">Prev</a>
					<select id="part" name="part" class="selectpicker form-control">
						{% for p in files %}
							{% if p == part %}
								<option value="{{ p }}" selected>{{ p }}</option>
							{% else %}
								<option value="{{ p }}">{{ p }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<select id="aid" name="aid" class="selectpicker form-control">
						<option value=""></option>
						{% for f in files[part] %}
							{% if f == aid %}
								<option value="{{ f }}" selected>{{ f }}</option>
							{% else %}
								<option value="{{ f }}">{{ f }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<input type="submit" value="Load" />
					<a href="?part={{ part }}&aid={{ aid }}&act=next">Next</a>
				</form>
				<a href="/repo/product?brand=sk2" target="_blank">/repo/product?brand=sk2</a>
				<a href="/repo/product?head=面膜" target="_blank">/repo/product?head=面膜</a>
				<a href="/repo/product?brand=sk2&head=面膜" target="_blank">/repo/product?brand=sk2&amp;head=面膜</a>
				<a href="/repo/product?pid=8,11" target="_blank">/repo/product?pid=8,11</a>
			</center>
		</nav>

		<article>
			<span class="counter"></span>
			<center><div class="json" w3-include-html="/json/{{ part }}/{{ aid }}"></div></center>
			<div class="article" w3-include-html="/article/{{ part }}/{{ aid }}"></div>
		</article>

		<footer>
			<center><a id='bottom' href="#top">Top</a></center>
		</footer>


		<script type="text/javascript">
			$('#part').change(function() { this.form.submit(); });
			$('#aid').change(function() { this.form.submit(); });

			function updateCounter() {
				$('product').each(
					(i, e) => $(e).removeClass('done')
				);

				$('product[gid]:not([gid=""])').each(
					(i, e) => $(e).addClass('done')
				);

				var e = $('body > article > .counter');
				e.text($('product:not(.done)').length + '/' + $('product').length);
				e.click(function() {
					const top = $('product:not(.done), #bottom').offset().top + window.pageYOffset;
					const middle = top - (window.innerHeight / 2);
					window.scrollTo(0, middle);
				});
			}

			w3.includeHTML(function(){
				$('body > article > .article a').each(
					(i, e) => $(e).removeAttr('href')
				);

				$('product').each(
					(i, e) => $(e).attr('id', $(e).attr('sid') + '-' + $(e).attr('mid'))
				);

				{% for k, v in json_data.items() %}
					$('#{{ k }}').attr('gid', {{ v }});
					$('#{{ k }}').attr('gid', {{ v }});
				{% endfor %}

				updateCounter();

				document.querySelectorAll('product').forEach(
					e => e.addEventListener('click', function() {
						try {
							const text = this.innerText;
							const pid  = this.getAttribute('pid');
							const gid  = this.getAttribute('gid');
							const sid  = this.getAttribute('sid');
							const mid  = this.getAttribute('mid');
							const rule = this.getAttribute('rule');
							const hint = this.getAttribute('hint');

							res = $.ajax({
								url: '/repo/product?pid='+hint,
								type: 'get',
								error: customStatusError
							}).done(hint_products => {
								const gid_new = prompt(
									text
									+'\n'+'pid='+pid
									+'\n'+'gid='+gid
									+'\n'+'sid='+sid
									+'\n'+'mid='+mid
									+'\n'+'rule='+rule
									+'\n'+'hint='+hint
									+'\n'+hint_products.replace(/<br\s*[\/]?>/gi, '\n'),
									gid
								);
								if ( gid_new === null ) {
									return;
								}
								this.setAttribute('gid', gid_new);
								updateCounter();

								const data = {
									pid: pid,
									gid: gid_new,
									sid: sid,
									mid: mid
								};

								fetch('/save?part={{ part }}&aid={{ aid }}', {
									method: 'POST',
									body: JSON.stringify(data)
								})
								.then(res => {
									if (res.ok) {
										res.json().then(customStatusSuccess);
									} else {
										res.json().then(res2 => customStatusError2(res, res2));
									}
								}).catch(customError);
							});

						} catch(error) {
							customError(error);
						}
					})
				)
			});

			function customSuccess(message) {
				console.log('Success:', message);
			}

			function customStatusSuccess(res) {
				customSuccess(res.message);
			}

			function customError(message) {
				alert(message);
				console.error('Error:', message);
			}

			function customStatusError(res) {
				customError('[' + res.status + '] ' + res.statusText);
			}

			function customStatusError2(res, res2) {
				customError('[' + res.status + '] ' + res.statusText + '\n' + res2.message);
			}
		</script>
	</body>
</html>
